html {
  background: url(/static/graph_background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#graph-canvas {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 500px;
    padding: 0;
}