html {
  background: url(/static/graph_background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#graph-canvas {
    height: 500px;
    padding: 0;
    margin: 25px 0;
}

#graph-data p {
    font-size: 10pt;
    font-family: monospace;
}