html {
  background: url(/static/graph_background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content-holder {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 50px;
}

.btn {
    margin-right: 20px;
}

.form-group:first-of-type {
    margin-top: 15px;
}

@media screen and (max-width: 767px) {

    .content-holder {
        padding-right: 19px;
    }

}