body {
  background: #000 url(/static/graph_background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#plot-canvas {
    height: 500px;
    padding: 0;
}

#plot-input {
    margin-top: 25px;
}

#plot-input h3 {
    margin-top: 10px;
}

#plot-data p {
    font-size: 10pt;
    font-family: monospace;
}