<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Probabilities</title>

    <link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}favicon.ico"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/vis.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/probabilities.css">

    <script src="{{ STATIC_URL }}js/vendor/jquery-1.11.2.min.js"></script>
    <script src="{{ STATIC_URL }}js/vendor/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/vis.min.js"></script>
    <script src="{{ STATIC_URL }}js/probabilities.js"></script>
</head>
<body>
    <div id="plot-input" class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 well">
        <h3>{{ spec|safe }}</h3>
        <h4>{{ specdata|safe }}</h4>
    </div>
    <div id="plot-canvas" class="stripes col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 well"></div>
    <div id="plot-data" class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 well">
    </div>
    <script type="text/javascript">
        buildPlot({{ x|safe }}, {{ y|safe }}, {{ init_degree|safe }});
    </script>
</body>
</html>